.root {
  --board-size: 500px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
}

input {
  outline: none;
  border: 1px solid #555;
}

.third-row {
  border-top: 5px solid #333;
}

.third-column {
  border-left: 5px solid #333;
}

.field {
  max-width: calc(500px/10);
  max-height: calc(500px/10);
  font-size: 2.5rem;
  text-align: center;
  color: #999;
}

.field[readonly] {
  color: #333;
}

button {
  margin-top: 20px;
}